<!-- <div class="bg"> -->
  <h2 class="mt-2">welcome to AMAZON</h2>
<!-- </div> -->



<!-- <img src="http://rongthien.com.vn/wp-content/uploads/2017/03/chuyen-phat-nhanh-hang-hoa-trong-nuoc-rong-thien-660x330.jpg" alt="delivering services"> -->
