<div class="container">

    <h3 class="mt-2">Tags</h3>

      <!-- <% @tags.each do |tag| %>
        <p><%= link_to tag.name, tag_path(tag) %></p>
      <% end %> -->

      <div class="btn-group-vertical">
        <% @tags.each do |tag| %>
         <%= link_to tag.name, tag_path(tag), class:"btn btn-secondary" %>
        <% end %>
      </div>
</div>
