<div class="bg-basic bg-new-product p-4">


<div class="container p-3 w-75 form-shape">
  <h4 class="mt-2 mb-0">New Product</h4>
  <small class="text-muted">* Please give a detailed description to your awesome product :) </small>

  <%= render 'form' %>

</div>


</div>
